
*.Z
*.h5
*.csv
*.zip
*.pyc
*.pkl
*.log
*.dat
*.data
*.xlsx
*.names
*.MP4
*.DS_Store
*checkpoint.ipynb
*.ipynb_checkpoints

random_datasets/2-pre_code_analysis/diabetes_1994/data/
framework_for_time_series_data/current/.ipynb_checkpoints/real_world_investigations-stock-tencent-returns-data-2-checkpoint.ipynb
framework_for_time_series_data/done/.ipynb_checkpoints/real_world_investigations-stock-apple-returns-2011_to_2021-checkpoint.ipynb
